@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    
    scroll-behavior: smooth;
}

.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #4a1cb6;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #4a1cb6;
}
.nav-responsive{
    background-color: #4a1cb6;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(https://album.mediaset.es/eimg/10000/2021/05/06/clipping_zgLE2v_5549.jpg?w=1200);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 50px;
    background-color: #1e2326;
    max-width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    
    margin-top: 40px;
    border: 10px solid #4a1cb6;
    display:block ;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 90%;
    ;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #4a1cb6;
}
.Datos{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.Datos .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.Datos h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.Datos .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.Datos .contenido-seccion p span{
    color: #8a2be2;
    font-weight: bold;
}
.Datos .fila{
    display: flex;
}
.Datos .fila .col
{
    width: 50%;
}
.Datos .fila .col h3{
    padding: 20px;
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.Datos .fila .col ul{
    list-style: none;
}
.Datos .fila .col ul li{
    margin: 12px 0;
}
.Datos .fila .col ul li strong{
    display: inline-block;
    color: #8a2be2;
    width: 130px;
}
.Datos .fila .col ul li span{
    background-color: #8a2be2;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

}

.habilidades{
    background-color: #1e2326;
    color: #fff;
    
}
.habilidades .contenido{
    max-width: 1100px;
    
}
.habilidades h2{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 15px;

}

.habilidades .fila .col{
    width: 250px;
    height: 100%;

    
}
.habilidades .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.habilidades .habilidad > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.habilidades .habilidad .barra-hab{
    height: 8px;
    width: 100%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.habilidades .habilidad .progreso{
    background-color: #8a2be2;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.habilidades .habilidad .barra-hab span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #8a2be2;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
 
.habilidades .habilidad .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}

.habilidades .habilidad .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 89%;}
}

.habilidades .habilidad .Photoshop {
    width: 0%;
    animation: 2s Photoshop forwards;
}
@keyframes Photoshop {
    0%{width: 0%;}
    100%{width: 60%;}
}

.habilidades .habilidad .Excel{
    width: 0%;
    animation: 2s Excel forwards;
}
@keyframes Excel {
    0%{width: 0%;}
    100%{width: 81%;}
}



.curriculum{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252e28;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #8a2be2;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #8a2be2;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #4a1cb6;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #4a1cb6;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #4a1cb6;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #4a1cb6;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #4a1cb6;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #4a1cb6;
    float: left;
    position: relative;
    bottom: 4px;
}

}

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .Datos .fila{
        display: block;
    }
    .Datos .fila .col{
        width: fit-content;
    }

    .habilidades .fila{
        display: block;
    }
    .habilidades .fila .col{
        width: 100%;
    }
    .habilidades .fila .col .barra-hab{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    
}